.t-home-card {
  width: 40%;
  height: 700px;
}

@media (max-width: 750px) {
  .t-home-card {
    width: 90%;
  }
}

.t-empty-container {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
}
