.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/backgroundLogin.jpg);
  background-size: cover;
  background-position: center;
  animation: zoomInOut 10s infinite alternate;
  filter: blur(3px);
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
